.footer__layout {
  display: flex;
  flex-wrap: wrap;
  padding: 56px 0 64px 0;
}

@media  (max-width: 768px) {
  .footer__layout {
    padding: 30px 30px 0 30px;
  }
}

@media (max-width: 320px) {
  .footer__layout {
    display: block;
    padding: 0;
    padding: 30px 21px 40px 21px;
  }
}