.help__list {
  /* margin: 0 120px 55px 0; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.help__list:last-child {
  margin: 0;
}

@media (max-width: 320px) {
  .help__list {
    max-width: 130px;
  }
  .help__list:last-child {
    margin: 16px 40px;
  }
}