.pets__cards {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

@media (max-width: 320px) {
  .pets__cards {
    justify-content: center;
  }
}
