/* root */
@import url('../pets/styles/root/root.css');
/* wrapper */
@import url('../pets/styles/wrapper/wrapper.css');
@import url('../pets/styles/wrapper/_flex/wrapper_flex.css');
/* header */
@import url('../pets/styles/header/header.css');
@import url('../pets/styles/header/__title/header__title.css');
@import url('../pets/styles/header/__subtitle/header__subtitle.css');
@import url('../pets/styles/header/__nav/header__nav.css');
@import url('../pets/styles/header/__links/header__links.css');
@import url('../pets/styles/header/__link-item/header__link-item.css');
@import url('../pets/styles/header/__link/header__link.css');
/* burger */
@import url('../pets/styles/burger/__item/burger__item.css');
@import url('../pets/styles/burger/__item/_rotate/burger__item_rotate.css');
@import url('../pets/styles/burger/__line/burger__line.css');
@import url('../pets/styles/burger/__link-item/burger__link-item.css');
@import url('../pets/styles/burger/__link/_active/burger__link_active.css');
@import url('../pets/styles/burger/__link/burger__link.css');
@import url('../pets/styles/burger/__links/burger__links.css');
@import url('../pets/styles/burger/__menu/_active/burger__menu_active.css');
@import url('../pets/styles/burger/__menu/burger__menu.css');
@import url('../pets/styles/burger/__nav/burger__nav.css');
@import url('../pets/styles/burger/_active/burger_active.css');
@import url('../pets/styles/burger/burger.css');
/* pets */
@import url('../pets/styles/pets/pets.css');
@import url('../pets/styles/pets/__layout/pets__layout.css');
@import url('../pets/styles/pets/__title/pets__title.css');
@import url('../pets/styles/pets/__cards/pets__cards.css');
@import url('../pets/styles/pets/__nav/pets__nav.css');
@import url('../pets/styles/pets/__page/pets__page.css');
/* btn */
@import url('../pets/styles/btn/__arrow/btn__arrow.css');
@import url('../pets/styles/btn/__img/btn__img.css');
@import url('../pets/styles/btn/__right/btn__right.css');
@import url('../pets/styles/btn/__light/btn__light.css');
@import url('../pets/styles/btn/__pouring/btn__pouring.css');
/* disabled */
@import url('../pets/styles/disabled/disabled.css');
/* card */
@import url('../pets/styles/card/card.css');
@import url('../pets/styles/card/__title/card__title.css');
/* footer */
@import url('../pets/styles/footer/footer.css');
@import url('../pets/styles/footer/__layout/footer__layout.css');
@import url('../pets/styles/footer/__contacts/footer__contacts.css');
@import url('../pets/styles/footer/__title/footer__title.css');
@import url('../pets/styles/footer/__links/footer__links.css');
@import url('../pets/styles/footer/__item/footer__item.css');
@import url('../pets/styles/footer/__icon/footer__icon.css');
@import url('../pets/styles/footer/__link/footer__link.css');
@import url('../pets/styles/footer/__img/footer__img.css');


body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
