.donation__img {
  max-width: 505px;
  max-height: 261px;
  margin: 80px 30px 100px 143px;
}

@media (max-width: 1000px) {
  .donation__img {
    max-width: 360px;
    margin: 60px 0 100px 100px;
  }
}

@media  (max-width: 768px) {
  .donation__img {
    order: 2;
    margin: 60px 0 100px 131px;
  }
}
@media  (max-width: 560px) {
  .donation__img {
    margin: 60px 0 100px 80px;
  }
}

@media (max-width: 320px) {
  .donation__img {
    max-width: 260px;
    margin: 42px 30px;
  }
}