.btn__arrow {
  width: 52px;
  height: 52px;
  border-radius: 100px;
  border: 2px solid #F1CDB3;
  background: #FAFAFA;
  cursor: pointer;
  margin: 0 10px;
}

.btn__arrow:hover {
  background: #F1CDB3;
}
